@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    *::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    *::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 2px solid #f6f7ed;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}

.InputLabel {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.TextInput {
    @apply bg-gray-50 border border-gray-300 outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.ErrorTextInput {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500;
}

.CheckboxInput {
    @apply w-4 h-4 select-none text-blue-600 bg-gray-100 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600;
}

.Label {
    @apply ms-2 text-sm select-none font-medium text-gray-900 dark:text-gray-300;
}

.LabelDisabled {
    @apply ms-2 text-sm select-none font-medium text-gray-400 dark:text-gray-500;
}

.HelperLabel {
    @apply text-xs font-normal text-gray-500 dark:text-gray-400;
}

.Select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-none block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
}

.ErrorText {
    @apply mt-2 text-sm text-red-600 dark:text-red-500;
}

.DropdownOption {
    @apply flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700;
}