localhost {
	# Reverse proxy for specific services
	reverse_proxy /inventory.v1.InventoryService/* 127.0.0.1:9100
	reverse_proxy /profile.v1.ProfileService/* 127.0.0.1:7777
	reverse_proxy /auth.v1.AuthService/* 127.0.0.1:7777

	# Serve static files from the skitty/dist directory for other paths
	#root * skitty/dist
	#file_server

	# Forward all other requests to the Next.js server
	reverse_proxy /* localhost:3000
}
