---
import AstroLayout from "../layouts/AstroLayout.astro";
import RefreshButton from "../components/refresh_button";
import LoginBox from "../components/login";
---

<AstroLayout title={"Docs"}>
    <div class="flex h-full">
        <LoginBox client:only="solid" />
        <RefreshButton client:only="solid" />
    </div>
</AstroLayout>
