---
import AstroLayout from "../layouts/AstroLayout.astro";

import { ProfilePage } from "../components/profile";
---

<AstroLayout title={"Docs"}>
    <div class="flex h-full">
        <ProfilePage client:only="solid" />
    </div>
</AstroLayout>
