---
import AstroLayout from "../layouts/AstroLayout.astro";
import ThemeIconSolid from "../components/ThemeIconSolid.astro";

import { ProfilePage } from "../components/profile";
---

<AstroLayout title={"Docs"} center={false}>
    <ThemeIconSolid />
    <div class="flex h-full">
        <ProfilePage client:only="solid" />
    </div>
</AstroLayout>
