body {
    font-family: sans-serif;
    padding: 1em;
}

.ais-ClearRefinements {
    margin: 1em 0;
}

.ais-SearchBox {
    margin: 1em 0;
}

.ais-Pagination {
    margin-top: 1em;
}

.left-panel {
    float: left;
    width: 200px;
}

.right-panel {
    margin-left: 210px;
    padding-left: 2em;
}

.ais-InstantSearch {
    max-width: 1600px;
    overflow: hidden;
    margin: 0 auto;
}

.dark .ais-SearchBox-input {
    background: transparent !important;
    color: white;
}

@media only screen and (max-width: 1600px) {
    .ais-InstantSearch {
        max-width: 1400px;
    }
}

@media only screen and (max-width: 1300px) {
    .ais-InstantSearch {
        max-width: 1000px;
    }
}

.ais-Hits-list {
    justify-content: space-between;
}

.dark .ais-Hits-item {
    background: #2d2d2dbd;
    border: none;
}

.ais-Hits-item {
    margin: 0px 0px 1em 0px;
    width: calc(25% - 1rem);
    box-shadow: none;
    border-radius: 10px !important;
}

@media only screen and (max-width: 1600px) {
    .ais-Hits-item {
        width: calc(33% - 1rem);
    }
}

@media only screen and (max-width: 1300px) {
    .ais-Hits-item {
        width: calc(50% - 1rem);
    }
}

.hit-name {
    margin-bottom: 0.5em;
}

.hit-description {
    font-size: 90%;
    margin-bottom: 0.5em;
    color: grey;
}

.hit-info {
    font-size: 90%;
}

.ais-Snippet * {
    font-size: 90%;
}

.ais-Highlight * {
    font-size: 110%;
}