---
import { Soc } from "../data/Constants.astro";
import { ThemeToggle } from "../components/theme_toggle";
---

<div class="nav-bar">
    <div class="title-link">
        <a title="Shark.run" href="/">Shark.run</a>
    </div>
    <div class="nav-links">
        <a title="About" href="/about">About</a>
        <a title="Blog" href={Soc.Blog}>Blog</a>
        <a title="Github" href={Soc.Github} target="_blank">GitHub</a>
        <ThemeToggle client:only="solid" />
    </div>
</div>
